<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
 Dear <%=@name%>,<br/>
 Here is the updated information about fixtures for next one year.
 See the attachment <br/>
 <br/><p/>
 Thanks,<br/><br/>Admin
  </body>
</html>