<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
 Dear <%=@player.first_name%>,<br/>
 Here is the updated contact information of all players.
 See the attachment <br/>
 <br/><p/>
 Thanks,<br/><br/>Admin
  </body>
</html>