<h1>Edit Fixture Details</h1>

<%= render 'form' %>
<br/>
<%#= link_to 'Show', @fixture %> |
<%#= link_to 'Back', fixtures_path %> |
<%#= link_to 'Destroy', @fixture, confirm: 'Are you sure?', method: :delete %>
