This action will cause <%=@count%> fixtures to be deleted<br/>
<Button class="new_item_button" onClick = "window.location.href='<%=remove_fixtures_url%>?confirm=yes'">Proceed</Button>
<Button class="new_item_button" onClick = "TINY.box.hide()">Cancel</Button>