#event-box
{
background-color:#F6F6F5;
width:99%;
padding: 10px 10px 10px 10px;
}

#event-table
{
background-color:#333333;
width:100%;
padding: 10px 10px 10px 50px;
}

#event-table td
{ padding: 0px 0px 50px 50px; }

.event-description
{
color:#666;
}
.event-caption
{
color:#009933;
font-weight: bold
}

.event-description-textbox
{
width:250px;
height:40px;
padding: 3px;
/*border: none;*/
}

.event-body-textbox
{
width:250px;
height:80px;
padding: 3px;
}

.new_item_button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.new_item_button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.new_item_button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   

.search-div{
	padding: 20px 20px 20px 100px;
	background: #f0f7fc;
	min-width: 600px;
}
