<% title "Home"%>
<h1>Tennis Widows League</h1>
<p>The Tennis Widows is a ladies doubles Tennis League and was set up some yrs ago by a group of ladies who had an interest in playing a bit of friendly regular tennis. As one or two had tennis courts it was easy and flexible to arrange a game between us. Before we knew it we were soon encouraging new players to join in and from there it grew.</p>
<p>Starting off with one division and then progressing very quickly to three we suddenly realised the demand for a fourth was needed. As the standard of Tennis improved over the years we have recently added a Premier division now making a total of five divisions. We hold a healthy list of Pool players who are called upon throughout the season and also have a player waiting list.</p>
<p>Our league season begins in April and ends last week of July with a scheduled match every week. Our matches are arranged on privately owned Tennis Courts which have been offered to us for the season on a Wednesday evening.</p>
<p>It gives us great pleasure to announce that Sound Marquees Ltd is to continue to sponsor and support the Tennis Widows League.</p>
<p>Independent Feeds Ltd is to continue to sponsor and support The Mixed Tournament; held this year on Sunday 1<sup>st</sup> July 2012. All enquiries about this competition please email Mrs S Mottershead <a href="mailto:-info@leisuresurfacescheshire.co.uk">-info@leisuresurfacescheshire.co.uk</a></p>
<p> </p>
<p>We always end the season off with an Awards Evening which is very popular with members and friends, it has been a huge part of the Tennis Widows League since it began.</p>
<p>If you would like more information about The Tennis Widows league then please email Mandy Berrisford - <a href="mailto:mberrisford@btinternet.com">mberrisford@btinternet.com</a></p>
