<% title "Rules"%>

<p> </p>
<h1>Tennis Widows League 2012</h1>
<p></p>
<h1>Sponsored by</h1>
<h1>		Sound Marquees Ltd</h1>
<p> </p>
<p> </p>
<h2>Committee</h2>
<table border="0" class="info-tables">
<tbody>
<tr>
<td>Mandy Berrisford</td>
<%if signed_in?%>
<td>07808477044</td>
<td>mberrisford@btinternet.com</td>
<%else%>
<td><i><pre>   Only signed in members can view contact details </pre></i></td>
<%end%>
</tr>
<tr>
<td>Janet Evans</td>
<%if signed_in?%>
<td>01948 662138</td>
<td>janet66evans@googlemail.com</td>
<%end%>
</tr>
<tr>
<td>Helen Calder</td>
<%if signed_in?%>
<td>07958 646321</td>
<td>helen.calder@yahoo.co.uk</td>
<%end%>
</tr>
<tr>
<td>Julie Thornhill</td>
<%if signed_in?%>
<td>07989 354368</td>
<td>juliethornhill@hotmail.co.uk</td>
<%end%>
</tr>
</tbody>
</table>
<p> </p>
<p> </p>
<h2>Divisional Representatives</h2>
<table border="0" class="info-tables">
<tbody>
<tr>
<td>Premier</td>

<td>Suzi Mottershead</td>
<%if signed_in?%>
<td>01270 812365</td>
<%end%>
</tr>
<tr>
<td>Div 1</td>

<td>Julie Thornhill</td>
<%if signed_in?%>
<td>01270 753074</td>
<%end%>
</tr>
<tr>
<td>Div 2</td>

<td>Suzanne Kinsey</td>
<%if signed_in?%>
<td>01270 528244</td>
<%end%>
</tr>
<tr>
<td>Div 3</td>

<td>Marjorie Heler</td>
<%if signed_in?%>
<td>01782 720251</td>
<%end%>
</tr>
<tr>
<td>Div 4</td>

<td>Sue Cheetham</td>
<%if signed_in?%>
<td>01270 820463</td>
<%end%>
</tr>
</tbody>
</table>
<p> </p>
<p> </p>
<p><strong>Dear Member</strong></p>
<p> </p>
<p>Welcome to the 2012 season we hope you have brushed the cobwebs off your racquets and you and your partner are ready to go. We would like to welcome the new partnerships to the league and hope they enjoy their first season.</p>
<p> </p>
<p>Polite notice: - For your attention the Tennis Widows league is fixtured for a Wednesday evening, please adhere to this.</p>
<p> </p>
<p><strong><span style="text-decoration: underline;">Sponsor</span></strong></p>
<p><strong><span style="text-decoration: underline;"><br /></span></strong></p>
<p><strong><span style="text-decoration: underline;">Sound Marquees Ltd</span></strong></p>
<p> </p>
<p>It gives us great pleasure to announce that Sound Marquees are to continue to sponsor the Tennis Widows League.  We are very grateful to them for supporting us again and look forward to welcoming them to our events this year.</p>
<p> </p>
<p><strong><span style="text-decoration: underline;">Communication</span></strong></p>
<p> </p>
<p>The committee will be using e-mail by way of communicating news and events and half time results in the future and will be doing a test at the end of March to all of you who have supplied the information.  Those without email will receive the information via the postal service, please remember to let us know of any changes to your details.</p>
<p> </p>
<p><strong><span style="text-decoration: underline;">Liabilities</span></strong></p>
<p> </p>
<p>All players play in the T.W.L at their own risk.</p>
<p> </p>
<p> </p>
<p><strong><span style="text-decoration: underline;">Can You Play?</span></strong></p>
<p> </p>
<p>Last year many of you made good use of email by contacting all the players in your division to re arrange a match, should one be cancelled. This became known as the “can you play?” request.  This made good sense to fill an available Wednesday with another fixture. Please note other than the Premier Division Mandy does not need be included in the “can you play” request.</p>
<p> </p>
<p> </p>
<p><strong><span style="text-decoration: underline;">**Cancelling a match by email/text is not acceptable, please speak with your opponents and don’t forget to cancel the court**</span></strong></p>
<p> </p>
<p> </p>
<h1 style="text-align: center;"><strong><span style="text-decoration: underline;">RULES AND GUIDANCE</span></strong></h1>
<p> </p>
<p><strong><span style="text-decoration: underline;">Introduction</span></strong></p>
<p> </p>
<p>The Tennis Widows League was set up around 22 yrs ago by a group of friends who wanted to enjoy a friendly game of competitive tennis.  As the TWL has grown in numbers the Committee strive to promote the original intention of a “friendly competitive game” and for that reason we have introduced a Fair Game Policy.</p>
<p> </p>
<p><strong><span style="text-decoration: underline;">Rules</span></strong></p>
<p> </p>
<p>Please take time to refresh your memory with the rules, as there have been some <strong>important</strong> additions.</p>
<p> </p>
<p>Please make sure you check the scheduled matches and highlight them to alert you of any you may need to change re holidays etc.</p>
<p><strong><span style="text-decoration: underline;">Fixtures</span></strong></p>
<p>The enclosed fixture list informs you of your matches; dates, times and venues.  The league starts on Wednesday 17th April 2012 and your last match must be played by <strong>31st August 2012</strong>.  <strong><span style="text-decoration: underline;"> Any match played after this date is void</span></strong> as we need to get trophies engraved for our end of season do!</p>
<p><strong><span style="text-decoration: underline;">Half-Way Results</span></strong></p>
<p>By mid June all players should have played 8 matches. Please make sure that you have sent the results of <strong><span style="text-decoration: underline;">eight</span></strong> matches to your division representative by <strong>30th June 2012</strong>. If we do not receive 8 results by this date we will <strong>deduct 5 points</strong> from each couple not doing so.</p>
<p> </p>
<p> </p>
<h1 style="text-align: center;"><span style="text-decoration: underline;">MATCHES</span></h1>
<p> </p>
<p>We recommend that the start time should be 6.30pm for the first 4 weeks and 7pm thereafter,<strong> do not assume this please contact your opponents.</strong></p>
<p> </p>
<p><strong><span style="text-decoration: underline;">Tennis Balls</span></strong></p>
<p>All ladies must provide <strong><span style="text-decoration: underline;">NEW TENNIS BALLS</span></strong> for their matches please; this will promote a more enjoyable game of tennis.  Do not assume your opponents should provide the balls make sure you have a set between you and your partner.</p>
<p>In the Premier Division home players must provide the <strong><span style="text-decoration: underline;">NEW</span></strong> tennis balls. Players listed on the left are deemed to be the home players.</p>
<p> </p>
<p> </p>
<p><strong><span style="text-decoration: underline;">Points System</span></strong></p>
<p>In each match 3 sets are played. The set ends when a couple reaches 6 games.</p>
<p> </p>
<p><strong>One point</strong> is gained per game <strong>won</strong>.</p>
<p><strong>Two extra</strong> points are gained for each <strong>SET</strong> won.</p>
<p>Therefore it is possible to gain 24 points in a match.</p>
<p>NB if the points are equal at the end of the match the couple that who has won <strong>TWO</strong> sets wins the match.</p>
<p> </p>
<p><strong>Results</strong></p>
<p>The winning couple must send their match results in on the score card provided to their divisional representative within three days of the match been played.  Please agree the score with your opponents and <strong>both</strong> sign and date the card.</p>
<p> </p>
<p><strong>TIP –</strong> Put the score cards in your bag so you’ve got them!</p>
<p> </p>
<p>Premier Div – Suzanne Mottershead, Green Court, Hall Lane, Hankelow, Crewe, CW3 0JB</p>
<p>Division 1 – Julie Thornhill, Fields Farm, Congleton Rd Sandbach, Crewe, Cheshire, CW11 4TE</p>
<p>Division 2 – Suzanne Kinsey, The Crofts, Wettenhall, Nr Winsford,</p>
<p>Division 3 – Marjorie Heler, Eardley End Farm, Audley, S.O.T, Staffs ST7 8JJ</p>
<p>Division 4 – Sue Cheetham, Glebe Rise, Church Lane, Betley, Crewe, Cheshire, CW3 9AX</p>
<p> </p>
<h1 style="text-align: center;"><span style="text-decoration: underline;">CANCELLATION OF COURTS</span></h1>
<p style="text-align: center;"><strong><span style="text-decoration: underline;">Please notify court owners as soon as possible if you do not need the court on the arranged date</span></strong></p>
<p style="text-align: center;"><strong>•<span style="white-space: pre;"> </span>It is the responsibility of the cancelling couple to notify the court owner when they do not require the court.</strong></p>
<p style="text-align: center;"><strong>•<span style="white-space: pre;"> </span>Please remember to cancel your courts where necessary.</strong></p>
<p> </p>
<h1 style="text-align: center;"><span style="text-decoration: underline;">ABANDONED MATCHES</span></h1>
<p>A match which is abandoned for whatever reason must be recorded and replayed in the following way:-</p>
<p>•<span style="white-space: pre;"> </span>Call your division representative immediately and explain why the match has been abandoned.</p>
<p>•<span style="white-space: pre;"> </span>The <strong>current</strong> score, including the <strong>part played</strong> set score, must be recorded on a score card and sent to your div rep it must be <strong>dated</strong> and <strong>signed</strong> by all players.  Please make sure you record who was serving at the time of abandoning.</p>
<p>•<span style="white-space: pre;"> </span>At this point the total score of <strong>COMPLETED SETS</strong> and <strong>COMPLETED GAMES</strong> will be counted.</p>
<p>•<span style="white-space: pre;"> </span>You must resume the match from the <strong>Completed Game</strong> score you finished at and <strong>not</strong>, for example 15 - 30 of the abandoned game.</p>
<p>•<span style="white-space: pre;"> </span> Please record the resumed match score on a score card, date and sign and return it to your div rep.</p>
<p> </p>
<p><strong><span style="text-decoration: underline;">Mobile Phones</span></strong></p>
<p>On no occasion should a match be postponed by means of text message or e-mail.  You must always speak to one of your opponents if you are not able to play on the scheduled date.</p>
<p><strong>Please switch your phones off or onto silent whilst playing your match to avoid disruption to you and your opponents.</strong></p>
<p>Please seek approval from your opponents if you need to have your phone on in special circumstances.</p>
<p><span style="white-space: pre;"> </span></p>
<p><strong><span style="text-decoration: underline;">Pool Players</span></strong></p>
<p><strong>The TWL committee are continuing to take names for pool players and the waiting list and will be happy to add them on this season.</strong></p>
<p>If at any time you need to use a pool player, then you must contact your division representative, who will approve a pool player for you, from the list.  However if no pool players are available then the committee will agree a pool player with you.</p>
<p><strong>Do not </strong>assume that you can get your own replacement and continue without the approval of the committee. If this occurs then your match will be void and full points will be awarded to the opposition.</p>
<p> </p>
<p><strong><span style="text-decoration: underline;">Re-arranged Matches</span></strong></p>
<p>All re-arranged matches must be played <strong>within 2 weeks</strong> of your scheduled match. If you know well in advance you are not able to play on scheduled date, bring the fixture forward rather than play on a later date.  This will prevent a big back log of fixtures later in the season.</p>
<p>If injury does not allow you to play within two weeks, then your partner must get a pool player, please consult your divisional representative and rearrange your court.</p>
<p>Rearranged matches can be played on the scheduled court on a different date as long as it has been agreed with the court owners.</p>
<p> </p>
<p><strong><span style="text-decoration: underline;">Please note</span></strong></p>
<p>Please be aware that rearranged matches on public courts will incur a cost.</p>
<p> </p>
<p><strong><span style="text-decoration: underline;">Fair Game policy</span></strong></p>
<p>1. The Tennis Widows League members must promote a fair game within matches played.  Bad sportsmanship identified as cheating, ill manners and poor conduct will not be tolerated, and will be acted upon accordingly.</p>
<p>1.1 Should [1] above be compromised by any of the named actions then the TWL will be forced to take action through the policy procedure as stated in [2].</p>
<p>2. Complaints about named fellow competitor/s must be in writing (email accepted) and received by a committee member with in 48 hrs of the so said incident.</p>
<p>2.1 The complaint as set out in [2] will be dealt with by the whole committee and all parties named as involved will be contacted.  On consultation by the committee a disciplinary actions may be taken where necessary.</p>
<p>3. Disciplinary actions will range from “one warning” to “exclusion from the league”</p>
<p> </p>
<p><strong><span style="text-decoration: underline;">End of Season Do</span></strong></p>
<p><strong>*A Friday in September 2012* If anybody is interested in sharing the cost of a marquee then please contact a committee member.</strong></p>
<p> </p>
<p><strong><span style="text-decoration: underline;">Family Fun Day</span></strong></p>
<p> </p>
<p>We have been totally overwhelmed by the support given to this competition during the past years.</p>
<p>Suzanne is taking couples names for this year’s event scheduled for Sunday 1st July 2012</p>
<p> </p>
<p><strong><span style="text-decoration: underline;">Finally</span></strong></p>
<p> </p>
<p>We wish you all an enjoyable season.</p>
<p> </p>
<p>Mandy, Helen, Janet &amp; Julie</p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>